* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    padding: 25px 0;
}


ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/* General */
.contanier {
    width: 1330px;
    margin: 0 auto;
}


.header .contanier  {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .contanier .menu , 
.header .contanier .actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.header .contanier .menu li a {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    color: black;
    font-family: 'Roboto', sans-serif;
    

}

.header .contanier .actions p .fa-cart-shopping {
    color: black;
}

.header .contanier .actions p .fa-heart  {
    color: red;
}

/* Hero */

.hero {
    
    background-image: url(./images/frame.bg.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 190px 0;
    text-align: center;
    color: #fff;
}

.hero .contanier .title {
    font-size: 43px;
    font-weight: 400;
}

.hero .contanier .subtitle {
    font-size: 15px;
    font-weight: 400;
    margin: 12px 0 28px;
}

.hero .contanier .btn {
    outline: 0;
    background: 0;
    border: 0;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
}

/* Design */
.design .contanier .text-content {
    text-align: center;
}

.design .contanier .text-content .title {
    font-size: 43px;
    font-weight: 400;
}

.design .contanier .text-content .subtitle {
    font-size: 14px;
    font-weight: 400;
    color: #a0a0a0;
    margin: 23px 0 26px;
}

.design .contanier .text-content .btn {
    font-size: 13px;
    font-weight: 400;
    outline: 0;
    background: 0;
    border: 0;
    color: black;
    cursor: pointer;

}
.design .contanier .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.design .contanier .wrapper .item {
    text-align: center;
}

.design .contanier .wrapper .item img {
    display: flex;
    width: 658px;
    height: 441px;
}

.design .contanier .wrapper .item h3 {
    font-size: 27px;
    font-weight: 400;
    margin: 48px 0 23px;
}

.design .contanier .wrapper .item .btn {
    background: 0;
    outline: 0;
    border: 0;
    font-size: 13px;
    font-weight: 400;
}
.products {
    padding: 100px 0;
}
.products .contanier .text-content {
    text-align: center;
}

.products .contanier .text-content .title {
    font-size: 33px;
    font-weight: 400;
}

.products .contanier .text-content .subtitle {
    font-size: 15px;
    color: #a0a0a0;
    margin: 16px 0 40px;
}

.products .contanier .text-content .dots {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.products .contanier .text-content .dots li {
    width: 7px;
    height: 7px;
    background: #000000;

}

.products .contanier .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.products .contanier .wrapper .card .image-block img {
    width: 310px;
    height: 434px;
}

.products .contanier .wrapper .card .name {
    font-size: 13px;
    color: #a0a0a0;
    margin: 22px 0 25px;

}

.products .contanier .wrapper .card .price {
    font-size: 12px;
    color: #a0a0a0;
}

/* Office styles */


.office {
    background: url(./images/home\ office\ bg.svg) no-repeat center / cover;
    padding: 181px 0;
    text-align: center;
    color: #fff;
}
.office .contanier .text-content .title {
    font-size: 66px;
    font-weight: 400;
}
.office .contanier .text-content .subtitle {
    font-size: 14px;
    font-weight: 400;
    margin: 15px 0 30px;
}

.office .contanier .text-content .btn {
    border: 0;
    background: 0;
    outline: 0;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    font-weight: 400;
}

/* Way - garaj */

.way {
    margin: 120px 0 40px;
    text-align: center;
}

.way .contanier .text-content .title {
    font-size: 34px;
    font-weight: 400;
}

.way .contanier .text-content .subtitle {
    font-size: 16px;
    font-weight: 400;
    color: #a0a0a0;
    margin: 23px auto;
    width: 777px;
}


/* Staff styles */

.staff .contanier {
    width: 1365px;
    margin: 0 auto;
    text-align: center;
}


.staff .contanier .title {
    font-size: 34px;
    font-weight: 400;
}

.staff .contanier .subtitle {
    font-size: 16px;
    font-weight: 400;
    color: #a0a0a0;
    width: 789px;
    margin: 23px auto 79px;
}

.staff .contanier .images {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px 27px;
}

.text-content {
    text-align: center;
}

.text-content .contanier .title {
    font-size: 34px;
    font-weight: 400;
    margin: 96px 0 65px;
}

.text-content .contanier .subtitle {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 121px;
}

/* Design inspires */


.design-inspires {
    margin-bottom: 39px;
}
    



.design-inspires .contanier {
    width: 1340px;
    height: 354px;
    background-color: #9AA8B1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.design-inspires .contanier .title {
    font-size: 43px;
    font-weight: 400;
    color: #fff;
    margin: 24px 0px;
}


.design-inspires .contanier .subtitle {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}